<!doctype html>
<html>
  <head>
    <title>A Simple App</title>

    <link href='style.css' rel='stylesheet' type='text/css'>
  </head>

  <body ng-app="chatSystem">
    <header>
      <h1>Comments</h1>
      <p>A simple app that allows a user to input comments</p>
    </header>

    <main ng-controller="chat"> 
      <section class='comment-input'>
        <p>Add Your Comment:</p>
        <input ng-model="chatInput"><button ng-click="addComment()">+</button>
      </section>

      <section class='comments' ng-repeat="comment in commentList">
        <p>{{comment}}</p>
        
      </section>
    </main>

    <footer>
      <p>this work is released into the public domain</p>
    </footer>

   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>
